# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察標籤編碼與獨編碼熱的影響

# [作業重點]
- 回答在範例中的觀察結果
- 觀察標籤編碼與獨熱編碼, 在特徵數量 / 邏輯斯迴歸分數 / 邏輯斯迴歸時間上, 分別有什麼影響 (In[3], Out[3], In[4], Out[4])

# 作業1
* 觀察範例，在房價預測中調整標籤編碼(Label Encoder) / 獨熱編碼 (One Hot Encoder) 方式，  
對於線性迴歸以及梯度提升樹兩種模型，何者影響比較大?

In [17]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

data_path = 'D:/100days/data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Numeric Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Numeric Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S

# 作業2
* 鐵達尼號例題中，標籤編碼 / 獨熱編碼又分別對預測結果有何影響? (Hint : 參考今日範例)
=>ANS:  獨熱編碼 + 羅吉斯迴歸 score >標籤編碼 + 羅吉斯迴歸
1.標籤編碼 + 羅吉斯迴歸
shape : (891, 5)
score : 0.780004837244799
time : 0.018948793411254883 sec
2.獨熱編碼 + 羅吉斯迴歸
shape : (891, 2429)
score : 0.8013346043513216
time : 0.16025161743164062 sec

In [19]:
# 標籤編碼 + 羅吉斯迴歸

df_temp = pd.DataFrame()
print('df_temp:',df_temp)
for c in df.columns:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
    print(df_temp[c])
train_X = df_temp[:train_num]
print(train_X )
estimator = LogisticRegression()
start = time.time()
print(start) 
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, train_X, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

df_temp: Empty DataFrame
Columns: []
Index: []
0        155
1        286
2        523
3        422
4         22
5        818
6        767
7        914
8        605
9        847
10      1067
11       133
12      1070
13        38
14      1221
15       533
16       995
17      1271
18      1217
19       760
20       423
21       112
22       778
23      1111
24       917
25        64
26       371
27       404
28       885
29      1186
        ...
1279     192
1280     915
1281     934
1282     715
1283       1
1284     437
1285     654
1286    1119
1287     246
1288     417
1289     683
1290     259
1291     132
1292     424
1293     434
1294     206
1295     413
1296     872
1297    1229
1298    1260
1299    1006
1300     936
1301     849
1302     801
1303     527
1304    1126
1305     891
1306    1046
1307    1227
1308     953
Name: Name, Length: 1309, dtype: int64
0       1
1       0
2       0
3       0
4       1
5       1
6       1
7       1
8       0
9       0
10      0
11      0
12      1
13      1
14      0
15      0
16      1
17      1
18      0
19      0
20      1
21      1
22      0
23      1
24      0
25      0
26      1
27      1
28      0
29      1
       ..
1279    1
1280    1
1281    1
1282    0
1283    1
1284    1
1285    1
1286    0
1287    1
1288    0
1289    1
1290    1
1291    0
1292    1
1293    0
1294    1
1295    1
1296    1
1297    1
1298    1
1299    0
1300    0
1301    0
1302    0
1303    0
1304    1
1305    0
1306    1
1307    1
1308    1
Name: Sex, Length: 1309, dtype: int64
0       720
1       816
2       914
3        65
4       649
5       373
6       109
7       541
8       477
9       174
10      839
11       50
12      733
13      459
14      566
15      204
16      659
17      201
18      417
19      243
20      182
21      203
22      379
23       54
24      541
25      454
26      238
27      123
28      385
29      499
       ...
1279    600
1280    541
1281     86
1282    809
1283    753
1284    757
1285    365
1286     98
1287    645
1288     96
1289    442
1290    132
1291    626
1292    313
1293     23
1294     35
1295    116
1296    865
1297    315
1298     37
1299    394
1300    883
1301    605
1302    120
1303    462
1304    711
1305    834
1306    872
1307    579
1308    262
Name: Ticket, Length: 1309, dtype: int64
0       185
1       106
2       185
3        70
4       185
5       185
6       163
7       185
8       185
9       185
10      184
11       62
12      185
13      185
14      185
15      185
16      185
17      185
18      185
19      185
20      185
21      143
22      185
23       17
24      185
25      185
26      185
27       80
28      185
29      185
       ...
1279    185
1280    185
1281     28
1282    127
1283    185
1284    185
1285    185
1286     83
1287    185
1288     39
1289    185
1290    185
1291    100
1292    185
1293    185
1294    185
1295    135
1296    134
1297    185
1298    103
1299    185
1300    185
1301    185
1302    102
1303    185
1304    185
1305     64
1306    185
1307    185
1308    185
Name: Cabin, Length: 1309, dtype: int64
0       3
1       0
2       3
3       3
4       3
5       2
6       3
7       3
8       3
9       0
10      3
11      3
12      3
13      3
14      3
15      3
16      2
17      3
18      3
19      0
20      3
21      3
22      2
23      3
24      3
25      3
26      0
27      3
28      2
29      3
       ..
1279    2
1280    3
1281    3
1282    3
1283    3
1284    3
1285    3
1286    3
1287    2
1288    0
1289    3
1290    2
1291    3
1292    3
1293    0
1294    3
1295    0
1296    0
1297    3
1298    0
1299    2
1300    3
1301    2
1302    2
1303    3
1304    3
1305    0
1306    3
1307    3
1308    0
Name: Embarked, Length: 1309, dtype: int64
     Name  Sex  Ticket  Cabin  Embarked
0     155    1     720    185         3
1     286    0     816    106         0
2     523    0     914    185         3
3     422    0      65     70         3
4      22    1     649    185         3
5     818    1     373    185         2
6     767    1     109    163         3
7     914    1     541    185         3
8     605    0     477    185         3
9     847    0     174    185         0
10   1067    0     839    184         3
11    133    0      50     62         3
12   1070    1     733    185         3
13     38    1     459    185         3
14   1221    0     566    185         3
15    533    0     204    185         3
16    995    1     659    185         2
17   1271    1     201    185         3
18   1217    0     417    185         3
19    760    0     243    185         0
20    423    1     182    185         3
21    112    1     203    143         3
22    778    0     379    185         2
23   1111    1      54     17         3
24    917    0     541    185         3
25     64    0     454    185         3
26    371    1     238    185         0
27    404    1     123     80         3
28    885    0     385    185         2
29   1186    1     499    185         3
..    ...  ...     ...    ...       ...
861   439    1     302    185         3
862  1164    0     112    121         3
863  1051    0     778    185         3
864   442    1     154    185         3
865   177    0     161    185         3
866   356    0     863    185         0
867  1013    1     807      9         3
868  1306    1     428    185         3
869   600    1     477    185         3
870    86    1     531    185         3
871   111    0      70    131         3
872   202    1     688     45         3
873  1213    1     419    185         3
874     7    0     789    185         0
875   839    0     261    185         0
876   474    1     691    185         3
877   959    1     495    185         3
878   670    1     500    185         3
879   975    0      75     90         0
880  1083    0     147    185         3
881   757    1     540    185         3
882   290    0     697    185         3
883    88    1     774    185         3
884  1157    1     891    185         3
885   997    0     659    185         2
886   811    1     130    185         3
887   464    0      18     40         3
888   607    0     923    185         3
889   113    1      11     77         0
890   338    1     642    185         2

[891 rows x 5 columns]
1557555618.9784968
shape : (891, 5)
score : 0.780004837244799
time : 0.018948793411254883 sec

In [20]:
# 獨熱編碼 + 羅吉斯迴歸

df_temp = pd.get_dummies(df)
train_X = df_temp[:train_num]
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, train_X, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 2429)
score : 0.8013346043513216
time : 0.16025161743164062 sec